@import 'https://fonts.googleapis.com/css?family=Lato';
HTML, BODY {
  /*height: 100%;*/
}

BODY {
  background: #082330;
  color: #aaa;
  /*background-size: .12em 100%;*/
  /*font: 16rem/1 "Lato";*/
}

.wrapper_logo{
  max-width: 50px;
  height: auto;
}

.text--line {
  font-size: .5em;
}

svg {
  width: 100%;
  font-size: 20rem;
}

@media screen and (min-width: 768px) {
  svg {
    width: 100%;
    font-size: 12rem;
  } 
}

section{
  height: 100vh;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 19%;
  stroke-width: 3px;
    letter-spacing: 0.05em;
  -webkit-animation: stroke-offset 2s linear;
          animation: stroke-offset 2s linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke:white;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke:aqua;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

.dates{
    text-align: center;
    margin-top: -12%;
    margin-left: 0%;
    color: #ff7f7f;
}
/*----------------------------NAVBAR--------------------------*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
 letter-spacing: 1px;
    border-right: 1px solid rgba(255,255,255,.3);
}
@media (min-width:1362px){
    ul.topnav li a{
        color: rgba(255,255,255,.8);
    }
ul.topnav li a:hover {
/*    background-color:white; color: black;*/
    border-top: 1px solid white;
    border-bottom:1px solid white;
    color: white;
}
    ul.topnav{
        display: inline-block;
    }
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:1362px) {
  ul.topnav li:not(:first-child){display: none;}
    ul.topnav li:nth-child(10){display: block; float: right;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
    ul.topnav li a{border:1px solid white;margin-right: 8px;}
}

@media screen and (max-width:1362px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
      border: 1px solid rgba(255,255,255,.2);
  }
}

@media (min-width:1024px) and (max-width:1399px){
    ul.topnav li a{
        padding: 14px 8px;
    }
}
/*

.topnav-li:after {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  content: '';
  width: 0;
  left: 50%;
  top: 0;
  height: 3px;
  background: red;
}
.topnav-li:before {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  content: '';
  width: 0;
  left: 50%;
  top: 0;
  height: 3px;
  background: yellow;
}
.topnav-li:after {
  right: 0;
  left: auto;
}
.topnav-li:before {
  left: 0;
}
.topnav-li:hover:after {
  width: 100%;
  left: 0;
}
.topnav-li:hover:before {
  width: 100%;
  right: 0;
    left: auto;
}
*/
/*-------------------/NAVBAR-------------------*/
.prize-tech{
    text-align: center;
    margin-left: 0%;
    margin-top: 8%;
}
.prize-tech img {
    background: transparent;
}
.prize-tech p{
    font-size: 1.4em;
}