Total Workshop Teams: {{workshopTeamsTotal}}<br>
Local Event Teams: {{localTeams}}<br>
External Event Teams: {{externalTeams}}<br>
Total Events Team: {{totalTeams}}<br>
Local User Registrations:{{localRegistrations}}<br>
External Registrations:{{externalParticipation}}<br>
Total User Registrations:{{totalRegistrations}}<br>

<hr>
<hr>
<div style="width: 100%">
<h1>Event wise Teams</h1>
</div>
{% for data in eventcount.data %}
<div style="width: 100%">
<h1><u>{{data.parentEvent}}</u></h1>
</div>
{% for even in data.events %}
<div style="width: 100%">
<h2>{{even.event}}</h2>
TOTAL: {{even.count}} || LOCAL : {{even.localcount}} || TOTAL PARTICIPANTS: {{even.participantCount}}
</div>
<hr>
{% endfor %}
<hr>
{% endfor %}

<hr>
<hr>
<div style="width: 100%">
<h1>Workshop wise Teams</h1>
</div>
{% for data in workshopcount.workshopdata %}
<div style="width: 100%">
{{data.workshop}} --------->  {{data.count}}
</div>
{% endfor %}	
