<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exhibitions | Technex '17</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=" " />
        <meta name="keywords" content=" " />
        <!-- <link rel="shortcut icon" href="/static/images/favicon.ico"> -->
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/favicon/manifest.json">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/exhibitions/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/exhibitions/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
		<noscript>
			<link rel="stylesheet" type="text/css" href="/static/exhibitions/css/noscript.css" />
		</noscript>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68539305-2', 'auto');
    ga('send', 'pageview');
  </script>
    <script>
function navFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
   </head>
    <body>
      <!----------NAVBAR-------->
<div class="jnavbar" id="abcde">
<ul class="topnav" id="myTopnav">
<li class="topnav-li"><a href="/" style="padding:0px 0px;border:none;">
<img src="/static/images/logo-technex-nav.png" height="40px" class="desktopLogo" style="padding-left:8px;padding-right:8px;">
<img src="/static/images/technexLogoMobile.png" height="40px" class="mobLogo" style="padding-left:8px;padding-right:8px;">
</a></li>
<li class="topnav-li"><a class="active" href="/events">EVENTS</a></li>
<li class="topnav-li"><a href="/workshops">WORKSHOPS</a></li>
<li class="topnav-li"><a href="/talks">THINK TALKS</a></li>
<li class="topnav-li"><a href="/sponsors">SPONSORS</a></li> <li class="topnav-li"><a href="#">SHOWS</a></li>

<li class="topnav-li"><a href="/startupfair">STARTUP FAIR</a></li>
<li class="topnav-li"><a href="/contacts">CONTACTS</a></li>
<li class="topnav-li"><a href="http://ca.technex.in">CAMPUS AMBASSADOR</a></li>
<li class="topnav-li" id="reg"><a href="/register" style="font-weight:600;background:#0084ff;"> {% if user.is_authenticated %}
DASHBOARD
{% else %}
REGISTER / LOGIN
{% endif %}</a></li>
<li class="icon">
<a href="javascript:void(0);" onclick="navFunction()">☰</a>
</li>
</ul>
</div>
<!----------/NAVBAR-------->
        <!-- <div class="container">
            <div class="header">
                <a href="http://tympanus.net/Development/FullscreenImageBlurEffect/">
                    <strong>&laquo; Previous Demo: </strong>Fullscreen Image Blur Effect
                </a>
                <span class="right">
                    <a href="http://barbragolba.deviantart.com/gallery/#/d40lc1t" target="_blank">Images by BarbraGolba</a>
                    <a href="http://tympanus.net/codrops/2011/11/21/elastic-image-slideshow-with-thumbnail-preview/">
                        <strong>Back to the Codrops Article</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div> -->
            <!-- <h1>Elastic Image Slideshow with Thumbnail Preview</h1> -->
            <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">

						            <li>
                            <img src="/static/exhibitions/images/large/cube1.png" alt="image06"/>
                            <div class="ei-title">
                                <h2>Passionate</h2>
                                <h3>Seeker</h3>
                            </div>

                        </li>

                        <li>
                            <img src="/static/exhibitions/images/large/industryRobot1.png" alt="image01" />
                            <div class="ei-title">
                                <h2>Creative</h2>
                                <h3>Duet</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/nao1.png" alt="image02" />
                            <div class="ei-title">
                                <h2>Friendly</h2>
                                <h3>Devil</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/puppy1.png" alt="image03"/>
                            <div class="ei-title">
                                <h2>Tranquilent</h2>
                                <h3>Compatriot</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/4.jpg" alt="image04"/>
                            <div class="ei-title">
                                <h2>Insecure</h2>
                                <h3>Hussler</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/5.jpg" alt="image05"/>
                            <div class="ei-title">
                                <h2>Loving</h2>
                                <h3>Rebel</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/7.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h2>Crazy</h2>
                                <h3>Friend</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/7.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h2>Crazy</h2>
                                <h3>Friend</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/7.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h2>Crazy</h2>
                                <h3>Friend</h3>
                            </div>
                        </li>
                        <li>
                            <img src="/static/exhibitions/images/large/7.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h2>Crazy</h2>
                                <h3>Friend</h3>
                            </div>
                        </li>
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element"></li>
						<li><a href="#" class="imgorder">1</a><img src="/static/exhibitions/images/thumbs/cube2.png" alt="thumb06" /></li>
                        <li><a href="#" class="imgorder">2</a><img src="/static/exhibitions/images/thumbs/industryRobot2.png" alt="thumb01" /></li>
                        <li><a href="#" class="imgorder">3</a><img src="/static/exhibitions/images/thumbs/nao22.png" alt="thumb02" /></li>
                        <li><a href="#" class="imgorder">4</a><img src="/static/exhibitions/images/thumbs/puppy2.png" alt="thumb03" /></li>
                        <li><a href="#" class="imgorder">5</a><img src="/static/exhibitions/images/thumbs/4.jpg" alt="thumb04" /></li>
                        <li><a href="#" class="imgorder">6</a><img src="/static/exhibitions/images/thumbs/5.jpg" alt="thumb05" /></li>
                        <li><a href="#" class="imgorder">7</a><img src="/static/exhibitions/images/thumbs/7.jpg" alt="thumb07" /></li>
                        <li><a href="#" class="imgorder">8</a><img src="/static/exhibitions/images/thumbs/7.jpg" alt="thumb07" /></li>
                        <li><a href="#" class="imgorder">9</a><img src="/static/exhibitions/images/thumbs/7.jpg" alt="thumb07" /></li>
                        <li><a href="#" class="imgorder">10</a><img src="/static/exhibitions/images/thumbs/7.jpg" alt="thumb07" /></li>
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
                <div class="excontant">
                    <p>Technex'17 is back with a saga of technoholic exhibitions. It will include displays and demonstrations by many of the world’s leading manufacturers with the latest techno- creations illustrating their respective utilities.</p>
                        </div>
            </div><!-- wrapper -->
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/exhibitions/js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="/static/exhibitions/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#ei-slider').eislideshow({
					animation			: 'center',
					autoplay			: true,
					slideshow_interval	: 3000,
					titlesFactor		: 0
                });
            });
        </script>
    </body>
</html>
