<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/guest_css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/static/css/guest_css/style.css"> <!-- Resource style -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<script src="/static/js/guest_js/modernizr.js"></script> <!-- Modernizr -->
	<title>Think Talks | Technex '17</title>
</head>
<body>
	
    <!----------NAVBAR-------->
<div class="jnavbar">
		<ul class="topnav" id="myTopnav">
  <li class="topnav-li"><a href="/" style="padding:0px 0px;"><img src="/static/images/logo-technex-nav.png" height="40px" style="padding-left:8px;padding-right:8px;"></a></li>
  <li class="topnav-li"><a class="active" href="/events">EVENTS</a></li>
  <li class="topnav-li"><a href="#">WORKSHOPS</a></li>
  <li class="topnav-li"><a href="/talks">THINK TALKS</a></li>
  <li class="topnav-li"><a href="/sponsors">SPONSORS</a></li>
  <li class="topnav-li"><a href="#">EXHIBITIONS</a></li>
  <li class="topnav-li"><a href="#">STARTUP FAIR</a></li>
  <li class="topnav-li"><a href="/contacts">CONTACTS</a></li>
  <li class="topnav-li"><a href="http://ca.technex.in">CAMPUS AMBASSADOR</a></li>
  <li class="topnav-li" id="reg"><a href="/register" style="font-weight:600;background:#0084ff;color:white">REGISTER</a></li>
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;padding:14px;color:black" onclick="navFunction()">☰</a>
  </li>
</ul></div>
<!----------/NAVBAR-------->
        <main class="cd-main">
		<ul class="cd-gallery">
            <li class="cd-item">
				<a>
					<div>
						<h2>PREVIOUS THINK TALKS</h2>
					</div>
				</a>
			</li>
		{% for lecture in lectures.lectures %}
			<li class="cd-item">
				<a>
					<div>
						<h2>{{ lecture.lecturerName }}</h2>
						<p>{{ lecture.designation }}</p>
						<b>View More</b>
					</div>
				</a>
			</li>
{% endfor %}
		
		</ul> <!-- .cd-gallery -->
	</main> <!-- .cd-main -->

	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		<div class="cd-fold-content" style="color:black" id="guest-content">
			
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->
<script src="/static/js/guest_js/jquery-2.1.1.js"></script>
<script type="text/javascript">
    var data={{ lectures|safe }};
    
    $('.cd-gallery li').on('click', function() {
        var k=$(this).index();
        console.log(k);
        out="";
        if (k == 0)
        {
        	out += '<h2 style="color:black">'+'THINK TALKS 2016<br>'+'</h2><p></p><em>Heyy</em>'; 
        }
        else
        {
        	out+='<h2 style="color:black">'+data.lectures[k].lecturerName+"</h2><p>"+data.lectures[k].designation+"</p><em>"+data.lectures[k].lecturerBio+"</em>";
        }
        
        document.getElementById('guest-content').innerHTML=out;
        
});
</script>
    <script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
    <!----------NAVBAR-------->
<script>
function navFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<!----------/NAVBAR-------->
<script src="/static/js/guest_js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>