<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
      <title>Events | Technex</title>
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
		<link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
  <body>
<canvas id="c"></canvas>
<div class="container" style="position: absolute;top: 0;left: 0;">
 <!-- <canvas id="c"></canvas> -->
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			<div id="theGrid" class="main">
				<section class="grid" id="abcd">

                    <a class="grid__item" style="cursor:default;">
						<h2 class="title title--preview" style="font-size:2.85em;">EVENTS</h2>
 					</a>
                    <a class="grid__item" style="cursor:default;">
                    <h2 class="title title--preview" style="font-size:1.25em;">50+ events and competitions.<br>An international techno-management extravaganza</h2>

 					</a>
					<a class="grid__item" href="/events/robonex">
						<img class="meta__avatar" src="/static/img/fwdicons/robonex.png" alt="robonex" />
                        <h2 class="title title--preview">Robonex</h2>
                        <div class="loader"></div>
						<span class="category">Robotics based events</span>
						<div class="meta meta--preview">
						</div>
 					</a>
                    <a class="grid__item" href="/events/ascension">
                        <img class="meta__avatar" src="/static/img/fwdicons/ascension.png" alt="ascension" />
						<h2 class="title title--preview">Ascension</h2>
						 <div class="loader"></div>
						<span class="category">Aero-modelling events</span>
						<div class="meta meta--preview"> 
							</div> 
					</a>
					<a class="grid__item" href="/events/extreme-engineering">
                        <img class="meta__avatar" src="/static/img/fwdicons/extreme-engineering.png" alt="extreme-engineering" /> 
						<h2 class="title title--preview">Extreme Engineering</h2>
						 <div class="loader"></div>
						<span class="category">Extreme Engineering events</span>
						<div class="meta meta--preview">
							</div> 
					</a>
					<a class="grid__item" href="/events/modex">
                        <img class="meta__avatar" src="/static/img/fwdicons/modex.png" alt="modex" />
						<h2 class="title title--preview">Modex</h2>
						 <div class="loader"></div>
						<span class="category">Showcase Innovative ideas</span>
						<div class="meta meta--preview"> 
							</div> 
					</a>
					<a class="grid__item" href="/events/riqueza">
                        <img class="meta__avatar" src="/static/img/fwdicons/riqueza.png" alt="riqueza" />
						<h2 class="title title--preview">Riqueza</h2>
						 <div class="loader"></div>
						<span class="category">Management events</span>
						<div class="meta meta--preview">
							</div> 
					</a>
                    <a class="grid__item" href="/events/byte-the-bits">
                        <img class="meta__avatar" src="/static/img/fwdicons/byte-the-bits.png" alt="byte-the-bits" /> 
						<h2 class="title title--preview">Byte the Bits</h2>
						 <div class="loader"></div>
						<span class="category">Coding events</span>
						<div class="meta meta--preview">
						</div> 
					</a>
					<a class="grid__item" href="/events/creatrix">
                        <img class="meta__avatar" src="/static/img/fwdicons/creatrix.png" alt="creatrix" />
						<h2 class="title title--preview">Creatrix</h2>
						 <div class="loader"></div>
						<span class="category">Film and media events</span>
						<div class="meta meta--preview">
							</div> 
					</a>
					<a class="grid__item" href="/events/supernova">
                        <img class="meta__avatar" src="/static/img/fwdicons/supernova.png" alt="supernova" />
						<h2 class="title title--preview">Supernova</h2>
						 <div class="loader"></div>
						<span class="category">Astronomy based events</span>
						<div class="meta meta--preview"> 
							</div> 
					</a>
					<a class="grid__item" href="/events/pahal">
                        <img class="meta__avatar" src="/static/img/fwdicons/pahal.png" alt="pahal" />
						<h2 class="title title--preview">Pahal</h2>
						 <div class="loader"></div>
						<span class="category">Socio-environmental events</span>
						<div class="meta meta--preview"> 
							</div> 
					</a>
                    <a class="grid__item" style="cursor:default;">
                        <img class="meta__avatar" src="/static/img/fwdicons/clutch.png" alt="clutch" /> 
						<h2 class="title title--preview">Clutch</h2>
						 <div class="loader"></div>
						<span class="category">LAN based gaming events</span>
						<div class="meta meta--preview">
							</div> 
					</a>
					
				</section>
					</div>
			</div>
 <!--    <script src='http:/cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->

       <!--  <script src="/static/js/index.js"></script> -->
             <script src='/static/js/kzymdn.js'></script>
    <script src="/static/js/gravityindex.js"></script>
    
    
    
  </body>
</html>
