{% load staticfiles %}
<html lang="en">
<head>
  <title>Technex '17 | The Annual Techno-Management Fest of IIT (BHU)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/ico" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/main1.css">
  <style>
  @font-face {
   font-family: codebold;
   src: url(/static/fonts/code_BOLD.otf) format("opentype");
  }
  </style>
  </head>
<body>
<div id="loader-container" style="
    display: block;
    position : fixed;
    z-index: 100;
    background-image : url('/static/technex-loader-new.gif');
    background-color:#171517;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;">
</div>
<div id="wrapper">
<div id="sections-container">
    <div id="overlay-controls">
     <div id="wrap">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-left navbar-toggle collapsed" data-toggle="collapse" data-target=".main-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#u">
                <i class="glyphicon glyphicon-search" style="color: white"></i>
            </button>    
        </div>
        <div class="navbar-collapse collapse u" >
            <ul class="nav navbar-nav">
            <li class="nav-li">
                <a href="/events">EVENTS</a>
            </li >
            <li class="nav-li">
                <a href="#">WORKSHOPS</a>
            </li>
            <li class="nav-li">
                <a href="/talks">GUEST LECTURES</a>
            </li>
            <li class="nav-li">
                <a href="#">SPONSORS</a>
            </li>
            <li>
              <img src="/static/assets/images/logo.png" id="li-img">
            </li>
            <li class="nav-li">
                <a href="#">HOSPITALITY</a>
            </li>
            <li class="nav-li">
                <a href="#">EXHIBITIONS</a>
            </li>
            <li class="nav-li">
                <a href="#">STARTUP FAIR</a>
            </li>
            <li class="nav-li">
            <a href="#">CAMPUS AMBASSADOR</a>
            </li>
            </ul>
          <!--   <div class="navbar-form desktop pull-right" role="search">
                <div id="u" class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="search-btn"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-default" type="submit" id="search-close-btn" style="display: none"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>

                </div>
            </div>
        </div> 
        <div style="float:left;display: none;margin-left: 3%" id="search-wala">
        <form class="navbar-form desktop pull-right" role="search">
                <div id="u" class="input-group">
                    <input type="text" class="form-control transparent-input" placeholder="Search" name="q">
                    <span id="searchclear" class="glyphicon glyphicon-close"></span>

                </div>
            </form>       
            </div> -->
        </div>
    </div>
</div>
</div>

   
    </div>

    <section>
     
<div class="logo">
<img src="/static/assets/images/logo-footer.png" height="14%" width="50%">
  </div>
 
                   <div style="margin-top: -11%"> 
                     <svg viewBox="0 0 1500 400">
            <symbol id="s-text">
            
             <text text-anchor="middle"
                   x="50%"
                   y="68%"
                   class="text-line2"
                   style="font-family:codebold;
                   letter-spacing: 15px;"
                   >
               TECHNEX'17
             </text>
            </symbol>

            <g class="g-ants">
             <use xlink:href="#s-text"
               class="text-copy"></use>     
             <use xlink:href="#s-text"
               class="text-copy"></use>     
             <use xlink:href="#s-text"
               class="text-copy"></use>     
             <use xlink:href="#s-text"
               class="text-copy"></use>     
             <use xlink:href="#s-text"
               class="text-copy"></use>     
            </g>
     <p class="technex-dates" style="display: none;">TOWARDS SUSTANABILITY&nbsp;&nbsp; | &nbsp;&nbsp;24-25-26 FEBRUARY</p>
          </svg>

          </div>

   

      <div class="navigation navigation-initial">
        <button class="button-next mobile-hidden">NEXT</button>
      </div>
    </section>

    <section>
    
    <style type="text/css">
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: white;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
    </style>
      <div class="definition">
        <div class="definition-body">
          <h2>TECHNEX</h2>
          <span class="pronunciation">(Annual Technomanagement Fest of IIT(BHU))</span>
   
          <p style="text-align: left;">
          A techno-managment fest organized every year within the dimensions of Indian Institute of Technology (BHU) located in the state of Varanasi, to satisfy the ever growing hunger for technological evolution and knowledge of the tech-savvy saints of innovation a.k.a the engineers. Discover the zest of giving life to ideas, discover the engineer in you.
          </p>
        </div>
      </div>
      <div class="navigation navigation-initial">
        <button class="button-prev">PREV</button>
        <div class="seperator"></div>
        <button class="button-next">NEXT</button>
      </div>
    </section>

    <section>
      <div id="mama">
        <h2 id="mama-head"></h2>
        <p id="mama-para">
   
        </p>
      </div>

    </section>

    <section>
        <h1 class="testi-heading">TESTIMONIALS</h1>
                    <div class="col-md-12" data-wow-delay="0.2s">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class=""><img class="img-responsive " src="/static/assets/testimonial/gianni di caro.png" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1" class="active"><img class="img-responsive" src="/static/assets/testimonial/rosley.png" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2" class=""><img class="img-responsive" src="/static/assets/testimonial/meera sanyal.png" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="3" class=""><img class="img-responsive" src="/static/assets/testimonial/TVF.png" alt="">
                                </li>
                            </ol>
                            <div class="carousel-inner text-center">
                                <div class="item active left">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                            <h3><i class="fa fa-quote-left"></i>&nbsp;I must thank all of you for the hospitality and for letting me be part of an exciting event.&nbsp;<i class="fa fa-quote-right"></i></h3>
                                                <small>Gianni Di' Carro<br>Senior Researcher : IDSIA, Switzerland</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="item next left">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                               <h3> <i class="fa fa-quote-left"></i>&nbsp;It was a wonderful event and I really enjoyed my experience. The students were all so enthusiastic and appreciative of the lecturers.&nbsp;<i class="fa fa-quote-right"></i></h3> 
                                                <small>Rosaly Lopes<br>Senior Researcher: NASA's JET Propulsion Laboratory</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                            <h3><i class="fa fa-quote-left"></i>&nbsp;The level of enthusiasm and vivacity of amongst the students was commendable. Good Job IIT!&nbsp;
                                            <i class="fa fa-quote-right"></i></h3>
                                             <small>Meera sanyal <br>Former chairman and CEO of the Royal bank of Scotland in India</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                              <h3><i class="fa fa-quote-left"></i>&nbsp;A completely heartwarming and nostalgic experience.&nbsp;<i class="fa fa-quote-right"></i></h3>
                                                <small>Team TVF Pitchers</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"></a>
                        </div>
                    </div>
      <div class="navigation navigation-initial">
        <button class="button-prev">PREV</button>
        <div class="seperator"></div>
        <button class="button-next">NEXT</button>
      </div>
    </section>

    <section>

<a href="/register" target="_blank">
 <button class="big-button">
        <span>REGISTER HERE<div class="arrow"></div></span>
      </button>
      </a>
<div class="bottom-container">
        <a href="https://www.facebook.com/Technex" target="_blank" class="store-button"><img src="/static/assets/images/fb.png"></a>
        <a href="https://www.instagram.com/technexiitbhu" target="_blank" class="store-button"><img src="/static/assets/images/insta.png"></a>
                <a href="https://www.twitter.com/technexiitbhu" target="_blank" class="store-button"><img src="/static/assets/images/twitter.png"></a>
        <a href="https://www.youtube.com/user/technexiitbhu" target="_blank" class="store-button"><img src="/static/assets/images/youtube.png"></a>
      </div>
       <div class="navigation navigation-last">
        <button class="button-prev">PREV</button>
        <div id="footer">               
      <div class="phone-contact" style="height: 80%; width: 50%; float: left;">
        <i  class="glyphicon glyphicon-phone" style="color: white;font-size: 35px;padding-top: 8px;"></i>
        <h4>+91-7565816969</h4>
        </div>
        <div class="emal" style="height: 80%; width: 50%; float: left;">
        <i  class="glyphicon glyphicon-envelope" style="color: white;font-size: 35px;padding-top: 8px;"></i>
        <h4>technex@iitbhu.ac.in</h4>
    </div>
    <div class="copyright" style="height: 20%;width: 100%">
    <div style="height: 100%;width: 66.667%;float: left;">
    <div style="height: 100%;width: 50%;float: left;">technex@iitbhu.ac.in
    </div>
    <div style="height: 100%;width: 50%;float: right"> IIT(BHU),Varanasi
    </div>
    </div>
    <div style="height: 100%;width: 33.334%;float: right;">Technex <span>&copy;</span> 2017</div>
    </div>
        </div>
    </section>
      </div>
    </div>
    </div>
  </div>
  <div id="css3d-container">
          <div class="navigation navigation-initial">
        <button class="button-prev">PREV</button>
        <div class="seperator"></div>
        <button class="button-next">NEXT</button>
      </div>
  </div>
  <div id="webgl-container"></div>
  <script src="/static/app.js"></script>
  <script src="/static/jquery1.12.4.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#css3d-container .navigation").hide();
  $("#search-btn").on("click",function(){
    console.log("click hua");
    $("#search-wala").show("fast");
    $("#search-btn").hide();
    $("#search-close-btn").show();
});
  $("#search-close-btn").on("click",function(){
    console.log("click hua");
    $("#search-wala").hide("fast");    
    $("#search-close-btn").hide();
    $("#search-btn").show();
     });
  });
  </script>
</body>
</html>
