<!DOCTYPE html>
<html>
<head>
	<title>Krackcat | Questions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ihover.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/favicon/manifest.json">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68539305-1', 'auto');
  ga('send', 'pageview');

</script>
    <script type="text/javascript">
	    $(window).load(function(){
	        $('#myModal').modal('show');
	    });
      function help_modal(){
	    $('#myModal').modal('show');
	  }

	  function cont_modal(){
	    $('#contModal').modal('show');
	  }
	</script>
  <!-- <script language="javascript" type="text/javascript">
  function l(mili){
  	var date = new Date(mili)
	  var eventDate = new Date('2015/11/11 23:00:00')
	  milliseconds = eventDate - date
	  clock();

  }
  function clock() {
  
  var seconds = ~~(milliseconds / 1000);
  var minutes = ~~(seconds / 60);
  var seconds = seconds%60;
  var hours = ~~(minutes / 60);
  var minutes = minutes%60;
  var days = ~~(hours / 24);
  var hours = hours%24;
  var days = days%365
  if (milliseconds > 0){
    timer = document.getElementById("timer");
    if (minutes){
      timer.innerHTML = '<b style="color:#fff;font-size:20px;font-family:Ubuntu">'+hours+"</b>"+'<span class=".blink" style="color:#fff;font-size:20px">:</span>'+'<b style="color:#fff;font-size:20px;font-family:Ubuntu">' +minutes+'</b>'+'<span class=".blink" style="color:#fff;font-size:20px">:</span>'+'<b style="color:#fff;font-size:20px;font-family:Ubuntu">' +seconds+'</b>';
    }
    milliseconds -= 1000;
    setTimeout(clock, 1000);
  }
  else{
  	// window.location.replace("/details/{{link}}")
  }
  }
  </script> -->
</head>


{% autoescape off %}

<body onload="l({{dnow}})">
	<nav class="navbar navbar-inverse">
	<div class="container-fluid" id="navigationBar">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand img-responsive" href="http://cesiitbhu.in/" id ="headernav" style="color:#fff;font-weight:bold;">Quriosity</a>
	  </div>
	  <div class="collapse navbar-collapse" id="myNavbar">
	    <ul class="nav navbar-nav navbar-right">
	      {# <li><a href="#" id="timer"></a></li> #}
	      
	      <li><a href="#myModal" onclick="help_modal()" style="color:#fff">Rules</a></li>
	      <li><a href="#contModal" onclick="cont_modal()" style="color:#fff;">Contacts</a></li>
	    </ul>
	  </div>
	</div>
	</nav>


	<div class="container">
		<div class="container" id="circleContainer">
			{% for question in questions %}
				<div class="full-circle ih-item circle colored effect15 left_to_right">
					<!-- <a href="question1"> -->
					<a href="#questionModal{{question.tag}}" data-toggle="modal" data-target="#questionModal{{question.tag}}">
						<h1 id="questionMark">{{ forloop.counter }}</h1>
				        	<div class="info">
				          		<h3>{{question.name}}</h3>
				        	</div>
		        	</a>
				</div>
			{% endfor %}	
		</div>
		{% for question in questions %}
			<div id="questionModal{{question.tag}}" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">{{question.name}}</h4>
						</div>

						<form method="post" id="form{{ question.tag }}" action="/submit/" >{% csrf_token %}

							<div class="modal-body">
								<p>{{question.problem}}</p>
								
								<input name="answername" value="{{question.tag}}" type="hidden" id="input{{question.tag}}">
								<label >Answer: </label>
								<input name="answer" type="number" style="width:90%;margin:auto;" required>
								
							</div>
							<div class="modal-footer">
								<p>Submitted answer: <span  id="answer{{question.tag}}"></span></p>
								<button type="submit" id="button{{question.tag}}" class="btn btn-primary" >Submit</button>
								<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Rules | Can be viewed again from top nav bar.</h4>
		      </div>
		      <div class="modal-body">
		        <p>1. The event is of duration 40 minutes: 10:20 pm to 11:00 pm</p>
		        <p>2. 10 questions are provided, each having an <b>INTEGER</b> answer. </p>
		        <p>3. The answer to the question gets saved when team clicks the SUBMIT button on the question page. </p>
		        <p>4. Answer to any question can be submitted multiple times while the test is going on.</p>
		        <p>5. <b>BONUS:</b> You can submit the test before time, by clicking the LOCK button in the footer. Ties will be resolved on the basis of Lock time.</p>
		        <p>6. After the time is over, you will be automatically redirected to details page where you can fill up your details.<br><b>IMP: If you are not automatically redirected or the page fails to load after the test, click the lock button to proceed. </b> </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div id="questionModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">asdf</h4>
					</div>
					<div class="modal-body">
						<p><br></p>
						<textarea cols="40"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="contModal" class="modal fade" role="dialog">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title" style="color:#000;font-family:Ubuntu">Contacts</h4>
	          </div>
	          <div class="modal-body" style="color:#888">
	             <h4>For any queries contact<br><br> 
	                <span style="color:#000;font-family:Ubuntu">Mail</span> : support@quriosity15.me<br><br>
	                <span style="color:#000;font-family:Ubuntu">Mobile</span> : +91-775-295-7816; +91-727-509-9567</h4>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
	    </div>
	</div> 
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
      <span id="timer" style="color:#FFF;font-size:30px;"></span>
      <a href="/details/{{link}}"><button id="lock" class="btn btn-danger btn-lg" style="float:right;padding:10px 50px"><span class="glyphicon glyphicon-lock" style="padding:5px"></span>LOCK</button></a>
  </div>
</nav>
</body>
{% endautoescape %}
  <script type="text/javascript">

  answers = {{answers}};

  {% for question in questions  %}


  $("#answer{{question.tag}}").html(answers["{{question.tag}}"]);

  {% endfor %}



  // Set the type of input End -->

  {% for question in questions %}	

    $("#form{{ question.tag }}").submit(function() {

      $('#button{{question.tag}}').val( "Submitting...");
      $('#button{{question.tag}}').attr("disabled","disabled");

    var url = "/submit/{{link}}"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: $("#form{{question.tag}}").serialize(), // serializes the form's elements.
           success: function(data)
           {
           	data = JSON.parse(data);
        
            $('#button{{question.tag}}').val( "Submit");
            $('#button{{question.tag}}').removeAttr("disabled");

               
               if (data.error == "false") {
               	$("#answer{{question.tag}}").html(data.value);
                text = 'Answer submitted for question '+"{{question.name}}" 
                alert(text);
               }
               else if (data.error=="true") {
               	if(data.type=="noanswer")
                alert("Some error occured. Please refresh the page and try again.");
            	else if(data.type=="notest"){
            		alert("Time over! Please click the lock button to proceed further.");
            	}
            	else if(data.type=="lock"){
            		alert("Your test response has been locked. Please click the lock button to proceed further.")
            	}
               }
               
            },

            error: function(data){
            $('#button{{question.tag}}').val( "Submit");
            $('#button{{question.tag}}').removeAttr("disabled");
            alert("Some error occured. Please check your internet settings.");
            }
         });
        return false; // avoid to execute the actual submit of the form.
    });   

    {% endfor %} 


  </script>



</html>