<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Startup Fair | Technex'17</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/owl.carousel.css">
		<link rel="stylesheet" href="/static/startupfair/css/owl.transitions.css">
		<link rel="stylesheet" href="/static/startupfair/css/animate.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/lightbox.css">
		<link rel="stylesheet" href="/static/startupfair/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/startupfair/css/preloader.css">
		<link rel="stylesheet" href="/static/startupfair/css/image.css">
		<link rel="stylesheet" href="/static/startupfair/css/icon.css">
		<link rel="stylesheet" href="/static/startupfair/css/style.css">
		<link rel="stylesheet" href="/static/startupfair/css/responsive.css">
        <script>
function navFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
	</head>
	<body id="top">

        <header id="navigation" class="navbar-fixed-top animated-header" style="position: initial;">
            <!----------NAVBAR-------->
<div class="jnavbar" id="abcde">
		<ul class="topnav" id="myTopnav" style="width:100%">
  <li class="topnav-li"><a href="/" style="padding:7px 0px;border:none;"><img src="/static/startupfair/img/logo-technex-nav.png" height="40px" style="padding-left:2px;"></a></li>
  <li class="topnav-li"><a class="active" href="/events">EVENTS</a></li>
  <li class="topnav-li"><a href="#">WORKSHOPS</a></li>
  <li class="topnav-li"><a href="/talks">THINK TALKS</a></li>
  <li class="topnav-li"><a href="/sponsors">SPONSORS</a></li> <li class="topnav-li"><a href="#">SHOWS</a></li>
  
  <li class="topnav-li"><a href="/startupfair">STARTUP FAIR</a></li>
  <li class="topnav-li"><a href="/contacts">CONTACTS</a></li>
  <li class="topnav-li"><a href="http://ca.technex.in">CAMPUS AMBASSADOR</a></li>
  <li class="topnav-li" id="reg"><a href="/register" style="font-weight:600;background:#0084ff;">REGISTER / LOGIN</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="navFunction()">☰</a>
  </li>
</ul>
</div>
<!----------/NAVBAR-------->
            <div class="container" style="display:none;">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
<!--
					<h1 class="navbar-brand">
						STARTUP FAIR
					</h1>
-->
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#features">Introduction</a></li>
                        <li><a href="#counter">Highlights</a></li>
                        <li><a href="#faq">Faq</a></li>
                        <li><a href="#team">Contact</a></li>
                        <li><a href="#pricing-table">Schedule</a></li>
                        <li><a href="#play-video">Register</a></li>
<!--                        <li><a href="#client-logo">Sponsers</a></li>-->
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>


	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block" id="main-head">
                            <h1>STARTUP FAIR</h1>
                            <h3>24-26 FEBRUARY 2017</h3>
                            <h2>MCIIE | TECHNEX | IIT (BHU), Varanasi</h2>
                            <h1 class="typewrite-h1">
                                WHERE ENTRERPENERS<br>
                              <a class="typewrite" data-period="2000" data-type='[ "build the future","collaborate","build friendships","create headlines","build partnerships","share experiences","witness innovation","fuel breakthroughs" ]'>
                                <span class="wrap"></span>
                              </a>
                            </h1>
							<div class="buttons">
								<a href="/dashboard/#/startupreg/" target="_blank" class="btn btn-learn" id="jk">Register Now</a>
								<a href="#jk" class="btn btn-learn">Still Not Convinced</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#features" class="scroll"></a>
	        </div>
		</section>
        
		<section id="features">
			<div class="container" id="introd">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>INTRODUCTION</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s" style="letter-spacing:1px;">Startup Fair is the biggest national convention for young entrepreneurs being organized by IIT (BHU) Varanasi in association with MCIIE. It features a plethora of events including guest lectures, elevator pitch, workshops, Networking Meet and panel discussions.</p>
						</div>
					</div>
				</div>
                
                
<!--         comment out when content        -->
<!--
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-easel"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">VISION</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Our goal is to give something to the startup community by introducing emerging startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data in an effective manner is a great challenge and a tremendous area of opportunity for new business innovation.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbucket"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbrush"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
				</div>
-->
			</div>
		</section>
        <section id="features">
			<div class="container" id="introd">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>VISION</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s" style="letter-spacing:1px;">Our goal is to give something to the startup community by introducing emerging startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data in an effective manner is a great challenge and a tremendous area of opportunity for new business innovation.</p>
						</div>
					</div>
				</div>
                
                
<!--         comment out when content        -->
<!--
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-easel"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">VISION</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Our goal is to give something to the startup community by introducing emerging startups to resources, mentorship, and investment opportunities. We are most interested in working with entrepreneurs using data management to solve public policy, human development, and business challenges. Architecting, analyzing, and managing data in an effective manner is a great challenge and a tremendous area of opportunity for new business innovation.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbucket"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbrush"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
				</div>
-->
			</div>
		</section>
		<section id="counter">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>HIGHLIGHTS</h2>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".3s">
							<i class="ion-person"></i>
							<p class="count-text">
								<span class="counter-digit">15 </span>
							</p>
                            <p>VCS</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".5s">
							<i class="ion-ios-lightbulb"></i>
							<p class="count-text">
								<span class="counter-digit">100+ </span>
							</p>
                            <p>Startups</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".7s">
							<i class="ion-person-stalker"></i>
							<p class="count-text">
								<span class="counter-digit">20+ </span>
							</p>
                            <p>Mentors</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".9s">
							<i class="ion-social-usd"></i>
							<p class="count-text">
								<span class="counter-digit">50</span>
							</p>
							<p>Investors + HNWIs</p>
						</div>
					</div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
						<div class="block wow fadeInRight" data-wow-delay=".9s">
							<i class="ion-man"></i>
							<p class="count-text">
								<span class="counter-digit">4000</span>
							</p>
							<p>Footfalls</p>
						</div>
					</div>
				</div>
			</div>
		</section>
<!--
		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>LATEST WORKS</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
						<div class="block">
							<div class="recent-work-mixMenu">
								<ul>
									<li><button class="filter" data-filter="all">VCS</button></li>
									<li><button class="filter" data-filter=".category-2">MENTORS</button></li>
									<li><button class="filter" data-filter=".category-1"></button></li>
									<li><button class="filter" data-filter=".category-2">Illustration</button></li>
									<li><button class="filter" data-filter=".category-1">Media</button></li>
								</ul>
							</div>
							<div class="recent-work-pic">
								<ul id="mixed-items">
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
										<a class="example-image-link" href="img/work1.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work1.jpg" alt="">
											<div class="overlay">
													<h3>Web design</h3>
													<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="2">
										<a class="example-image-link" href="img/work2.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work2.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="3">
										<a class="example-image-link" href="img/work3.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work3.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="4">
										<a class="example-image-link" href="img/work4.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work4.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="img/work5.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work5.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="6">
										<a class="example-image-link" href="img/work6.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work6.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
-->
		
        
<!--    FAQ    -->
        
        <section id="faq">
            <div class="container">
               <div class="row">
                   <div class="title">
							<h2 style="margin-top:5%;" id="problemproblem">FREQUENTLY ASKED QUESTIONS</h2>
							<h2 style="margin-top:5%;" id="problem">FAQ's</h2>
						</div>
                   <div class="queans">
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">1. Who is eligible to participate in Startup Fair?</h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">The contest is open to students, corporate professionals, entrepreneurs, as well as other independent individuals (employed or unemployed)</h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">2. Do all the team members have to be from the same University / Business School / Organization?
                       </h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">No. All the team members need not be from the same University / Business School / Organization.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">3. Can corporate participants from different companies form a Team?
                       </h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">Yes. Corporate professionals from different companies can form a team together.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">4. Can the team have a mix of Business school students/undergraduate students/corporate professionals/entrepreneurs/other individuals?
                       </h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">Yes, the team can have any mix of participants.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">5. Is the team composition mentioned at the time of registration final?
                       </h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">Yes. No changes will be allowed in the team composition after registration. Therefore, please enter the team details after proper deliberation.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">6. What if a person gets registered as part of more than one team?</h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">Both the teams will become ineligible to participate. Therefore, please check with the proposed team members before registering.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">7. What is the registration fee for participation?
                       </h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">coming soon!! stay await</h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">8. Where will the final round of the event be held?</h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">The Grand Finale will be held on the campus of Indian Institute of Technology, (BHU) Varanasi on 25th February and 26th February, 2017 during Technex 2017.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">9. Can we consult non-team members such as professors or industry experts?</h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">The interaction with non-team members should be restricted to interviews and surveys, and proper reference should be made to the same in the business plan document. Similarly, any other information source including published studies may be used, but the document submitted should contain proper references.
                       </h4><br>
                       <h3 class="wow fadeInUp" data-wow-delay=".5s">10. Should the business plans strictly adhere to a structure?
                       </h3>
                       <h4 class="wow fadeInUp" data-wow-delay=".5s">While adherence to any structure is not compulsory, all the relevant aspects such as business concept, vision, market opportunity, competitive advantage, detailed competitive analysis and the resources and finances required to implement the idea can be included. Relevant financial projections including expected cash flows, pro-forma balance sheets and 'P and L' statements can be included. Proposed management structure and relevant assumptions may also be included
                       </h4><br>
                   </div>
                </div> 
            </div>
        </section>
<!--   /FAQ     -->
        
        <section id="pricing-table">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>SCHEDULE</h2>
					</div>
					<div class="col-md-4 col" id="schd">
						<div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>DAY 1</h4>
								<p>The service providers shall grace the event by introducing themselves. They would reveal the +past startups they have been associated with and shall subsequently highlight the kind of startups they wish to target during the mega event.

                                A brain-storming session would follow where the teams shall interact with their mentors, which would be already pre-assigned a couple of weeks ago with the motive of streamlining and fine-tuning their ideas. Additional domain specific mentors shall be available at that time to provide better insights pertaining to specific points.

                                Finally, the investors and venture capitalists shall present the ending note emphasizing upon the latest trends emerging in the entrepreneurial world and their expectations from the startups present at the event.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col" id="schd">
						<div class="block text-center wow zoomIn" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>DAY 2</h4>
									<p>
                                        After making optimal utilization of the mentoring process, the teams would present their refined B-Plan in front of eminent investors and fellow entrepreneurs.

                                            A networking session would follow where all the attendees would be allowed to interact amongst themselves.

                                            The investors shall conclude the event by announcing the names of startups in which they wish to invest.
                                    </p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="team">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>CONTACT US</h2>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-6" id="jcontact">
						<div class="block wow fadeInLeft" data-wow-delay=".3s" style="display:none;">
                            <img src="/static/startupfair/img/team-img1.jpg" alt="">
							<div class="team-overlay">
                                <span class="icon"><a href=""><i class="ion-social-facebook"></i></a></span>
								<h3>Arun Kumar</h3>
                                <span class="icon"><a><i class="ion-social-whatsapp"></i></a></span>
                                <span style="color:white">+919695806384</span>
							</div>
						</div>
                        <div class="name_post" ><h2>Arun Kumar</h2><h3>Organiser</h3><h3 class="email">karun.kumarcd.mec14@itbhu.ac.in</h3><h3>+917200007691</h3></div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-6" id="jcontact">
						<div class="block wow fadeInLeft" data-wow-delay=".6s" style="display:none;">
							<img src="/static/startupfair/img/team-img2.jpg" alt="">
							<div class="team-overlay">
                                <span class="icon"><a href=""><i class="ion-social-facebook"></i></a></span>
								<h3>ARUN KUMAR</h3>
                                <span class="icon"><a><i class="ion-social-whatsapp"></i></a></span>
                                <span style="color:white">+919695806384</span>
							</div>
						</div>
                        <div class="name_post"><h2>Bharat Kumar</h2><h3>Organiser</h3><h3 class="email">bharat.bharat.min14@itbhu.ac.in</h3><h3>+917052378758</h3></div>
					</div>
				</div>
			</div>
		</section>
		
<!--
		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Blog</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
						<div id="blog-post" class="owl-carousel">
							<div>
								<div class="block">
									<img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-2.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-3.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-4.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							
						</div>		
					</div>
				</div>
			</div>
		</section>
-->


<!-- ---------TESTIMONIALS------------- -->

<!--
		<section id="testimonial">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>TESTIMONIAL</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/service-img.png" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
-->       
<!--  /testinomials       -->
        
        <section id="play-video">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h2 class="wow fadeInUp" data-wow-delay=".3s" style="letter-spacing:3px;">REGISTER HERE FOR STARTUP FAIR 2017</h2>
							<p class="wow fadeInUp" data-wow-delay=".5s">Be The Part Of India's Largest Startup Event</p>
							<a href="/dashboard/#/startupreg/" target="_blank">
        <!--<div class="button ion-ios-play-outline wow zoomIn" data-wow-delay=".3s"></div>-->
                                        <button> 
                                            REGISTER
                                            <div class="button__border button__border--top"></div>
                                            <div class="button__border button__border--right"></div>
                                            <div class="button__border button__border--bottom"></div>
                                            <div class="button__border button__border--left"></div>
                                          </button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
        
        
<!--     SPONSERS   -->
<!--
		<section id="client-logo">
			<div class="container">
				<div class="row">
                    <div class="media_partner">Media Partner</div>
					<div class="col-md-12">
						<div class="block">
							<div id="Client_Logo" class="owl-carousel">
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo1.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo2.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo3.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo4.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo5.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo6.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo1.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo2.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo3.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo4.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo5.jpg" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="img/clientLogo/client-logo6.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
-->
	</div>

		<!-- load Js -->
		<script src="/static/startupfair/js/jquery-1.11.3.min.js"></script>
		<script src="/static/startupfair/js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>
		<script src="/static/startupfair/js/waypoints.min.js"></script>
		<script src="/static/startupfair/js/lightbox.js"></script>
		<script src="/static/startupfair/js/jquery.counterup.min.js"></script>
		<script src="/static/startupfair/js/owl.carousel.min.js"></script>
		<script src="/static/startupfair/js/html5lightbox.js"></script>
		<script src="/static/startupfair/js/jquery.mixitup.js"></script>
		<script src="/static/startupfair/js/wow.min.js"></script>
		<script src="/static/startupfair/js/jquery.scrollUp.js"></script>
		<script src="/static/startupfair/js/jquery.sticky.js"></script>
		<script src="/static/startupfair/js/jquery.nav.js"></script>
		<script src="/static/startupfair/js/main.js"></script>
        <script src="/static/startupfair/js/typing.js"></script>
	</body>
</html>